# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea
*.iws
*.iml
*.ipr
.vscode/

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker

docker-compose.yml
.dockerignore

# Documentation
*.md
docs/

# Scripts
scripts/

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp