[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[[services]]
name = "app"

[services.variables]
PORT = "8080"
SPRING_DATASOURCE_URL = "jdbc:mysql://${{RAILWAY_PRIVATE_DOMAIN}}:3306/railway"
SPRING_DATASOURCE_USERNAME = "${{MYSQLROOT_USER}}"
SPRING_DATASOURCE_PASSWORD = "${{MYSQLROOT_PASSWORD}}"
SPRING_JPA_HIBERNATE_DDL_AUTO = "update"
SERVER_ADDRESS = "0.0.0.0"